<div class="column">
  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image" />
          </figure>
        </div>

        <div class="media-content">
          <p class="title is-4">{{ child?.name }}</p>
        </div>
      </div>

      <div class="content">
        <p>
          DOB: <strong>{{ child?.dob }}</strong>
        </p>
        <p>
          gender: <strong>{{ child?.gender }}</strong>
        </p>
        <p>
          Next Vaccine Due <strong>{{ (child?.vaccination)[0].vaccinName }}</strong> | <strong>{{ (child?.vaccination)[0].date }}</strong>
        </p>
        <button class="button is-outlined" (click)="notifyMe(child)">Remind Me</button>
      </div>
    </div>
    <footer class="card-footer">
      <a routerLink="/child/{{ child?.id }}/edit" class="card-footer-item">Edit Details</a>
      <a routerLink="/vaccine/list/child/{{ child?.id }}" class="card-footer-item">Manage Vaccine</a>
    </footer>
  </div>
</div>
