<div class="tile notification is-light">
  <div class="content">
    <h1 class="is-large">
      <span class="icon has-text-info know-icon">
        <em class="fas fa-info-circle"></em>
      </span>
      Did you know?
    </h1>
    <ol type="1">
      <li>Immunization currently prevents between 2–3 million deaths every year</li>
      <li>More children are being immunized worldwide than ever before</li>
      <li>An estimated 19.5 million children under the age of one year did not receive DTP3 vaccine</li>
      <li>
        Important progress has been made in vaccine research and development : A New Vaccine against dengue has been licensed in several countries.
      </li>
      <li>Meningitis A epidemics nearly eliminated in Africa through immunization</li>
      <li>Global measles mortality has declined by 84%</li>
      <li>Region of the Americas declared free of measles</li>
      <li>The world is closer than ever to eradicating polio</li>
      <li>Maternal and neonatal tetanus eliminated in the WHO Regions of the Americas and South-East Asia</li>
      <li>Vaccines serve as a frontline defence against antimicrobial resistance</li>
    </ol>
  </div>
</div>
