<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Login here
      </h1>
      <h2 class="subtitle">
        Login to your account
      </h2>
    </div>
  </div>
</section>

<div class="columns">
  <div class="column">
    <div class="tile notification is-light">
      <div class="content">
        <h1 class="is-large">
          <span class="icon has-text-info know-icon">
            <i class="fas fa-info-circle"></i>
          </span>
          Did you know?
        </h1>
        <ol type="1">
          <li>Immunization currently prevents between 2–3 million deaths every year</li>
          <li>More children are being immunized worldwide than ever before</li>
          <li>An estimated 19.5 million children under the age of one year did not receive DTP3 vaccine</li>
          <li>
            Important progress has been made in vaccine research and development : A New Vaccine against dengue has been licensed in several
            countries.
          </li>
          <li>Meningitis A epidemics nearly eliminated in Africa through immunization</li>
          <li>Global measles mortality has declined by 84%</li>
          <li>Region of the Americas declared free of measles</li>
          <li>The world is closer than ever to eradicating polio</li>
          <li>Maternal and neonatal tetanus eliminated in the WHO Regions of the Americas and South-East Asia</li>
          <li>Vaccines serve as a frontline defence against antimicrobial resistance</li>
        </ol>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="box">
      <form method="post" class="has-text-left" [formGroup]="loginForm" (submit)="onSubmit()">
        <div class="field">
          <label class="label">Email</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input" type="email" placeholder="email@valid.ok" formControlName="email" />
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right has-text-success" *ngIf="loginForm['controls'].email.valid">
              <i class="fas fa-check"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <label class="label">Password</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input" type="password" placeholder="****" formControlName="password" />
            <span class="icon is-small is-left">
              <i class="fas fa-key"></i>
            </span>
            <span class="icon is-small is-right has-text-success" *ngIf="loginForm['controls'].password.valid">
              <i class="fas fa-check"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <button type="submit" class="button is-primary is-large is-fullwidth" [disabled]="!loginForm.valid">Login now</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
